---
interface Props {
	title?: string;
	description?: string;
	imageUrl?: string;
}

const { 
	title = "Nuestra Ubicación",
	description = "Visítanos en nuestro consultorio",
	imageUrl = "https://lh3.googleusercontent.com/aida-public/AB6AXuAxaAGPvwBaQAZgdge4WzabPIfsd8dy-5mnZAcmvMk6oK6UUG4HUu9GEVeuFBQEk5Jsv_eX3ZMhpZXBWY02SEz0B_bd1kKbsb_7zv_ek3AVhIhjTWAcqAkFaQGvpgg-nM_qgxO_7CdYSykHlZn3FTZ_Xi1KDhZ7L5lvjR-Sfdjk5GoU7M84wMizmyof0i4darofXvCdJAVX5RCSScmBvOGHjEGyO9DMe74mwfTC8fcv8XnCY9FcLZ2mTSQbFyn2YAB0XssgaBHysjYp"
} = Astro.props;
---

<div class="h-64 lg:h-72 w-full overflow-hidden rounded-3xl shadow-soft border border-gray-100 dark:border-gray-800 relative group">
	<div class="absolute inset-0 bg-cover bg-center grayscale contrast-[.9] group-hover:grayscale-0 transition-all duration-700 ease-in-out transform group-hover:scale-105" style={`background-image: url('${imageUrl}');`}></div>
	<div class="absolute inset-0 bg-primary/10 mix-blend-multiply pointer-events-none"></div>
	<div class="absolute inset-0 flex items-center justify-center pointer-events-none">
		<div class="bg-primary p-3 rounded-full shadow-lg text-white animate-bounce ring-4 ring-white/30 backdrop-blur-sm">
			<span class="material-symbols-outlined text-3xl">location_on</span>
		</div>
	</div>
</div>
